<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Document</title>
</head>

<body>
  <h1>User html</h1>
  <table>
    <tr>
      <td>Id</td>
      <td>Nombre</td>
      <td>Edad</td>
      <td>Opciones</td>
    </tr>
    <% users.forEach((user)=>{ %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.age %>

        </td>
        <td>

          <a href="/users/update/<%= user.id %>" id="btn-modificar">Modificar</a>
          <a href="/users/delete/<%= user.id %>" id="btn-eliminar">Eliminar</a>

        </td>
      </tr>
      <% }); %>
  </table>
</body>

</html>